In [1]:
!pip3 install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/99/f7/01cea7f6c963100f045876eb4aa1817069c5c9eca73d2dbfb5d31ff9a39f/pandas-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (10.8MB)
    100% |████████████████████████████████| 10.8MB 132kB/s ta 0:00:011   11% |███▉                            | 1.3MB 8.8MB/s eta 0:00:02    38% |████████████▎                   | 4.1MB 28.9MB/s eta 0:00:01    45% |██████████████▍                 | 4.9MB 14.7MB/s eta 0:00:01    52% |████████████████▉               | 5.7MB 6.4MB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Collecting numpy>=1.17.3 (from pandas)
  Downloading https://files.pythonhosted.org/packages/b8/46/3f1a1a1f5fa3c0325a407a98396b8ac90e4eaa058420668b4b640729c784/numpy-1.21.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (14.1MB)
    100% |████████████████████████████████| 14.1MB 113kB/s ta 0:00:01
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.1 pandas-1.3.0

In [3]:
import pandas as pd
print(pd.__version__)

1.3.0

# Dataframe作成

In [7]:
df = pd.DataFrame({
    "A": ["a", "b", "a"],
    "B": [1, 3, 5],
    "C": [10, 11, 12],
    "D": [2, 4, 6]
})
df

   A  B   C  D
0  a  1  10  2
1  b  3  11  4
2  a  5  12  6

# 列選択

In [5]:
df["A"]

   A  B
0  a  1
1  b  3
2  a  5

In [6]:
df[["A", "B"]]

   A  B
0  a  1
1  b  3
2  a  5

## 条件に応じた列選択

In [10]:
df.loc[:, [c.startswith("A") for c in df.columns]]
df.loc[:, df.columns.str.startswith("A")]

   A
0  a
1  b
2  a

In [ ]:
## 列の入れ替え

In [11]:
df[["B", "A"]]

   B  A
0  1  a
1  3  b
2  5  a

## 列の追加

In [14]:
df["E"] = df["B"] * 2
df["F"] = df["B"].map(lambda x: x * 2)
df = df.assign(G = lambda df: df.B * 2)
df

   A  B   C  D   E   F   G
0  a  1  10  2   2   2   2
1  b  3  11  4   6   6   6
2  a  5  12  6  10  10  10

## 条件による行選択

### 単独条件

In [20]:
df.loc[df["B"] <= 4]
df.query("B <= 4")

   A  B   C  D  E  F  G
0  a  1  10  2  2  2  2
1  b  3  11  4  6  6  6

複数条件

In [22]:
df.loc[(df["B"] == 1) | (df["C"] == 12)]
df.query("B == 1 | C == 12")

   A  B   C  D   E   F   G
0  a  1  10  2   2   2   2
2  a  5  12  6  10  10  10

### 含まれているかなどの演算

In [33]:
l = [1, 3]
df.query("B in @l")

   A  B   C  D  E  F  G
0  a  1  10  2  2  2  2
1  b  3  11  4  6  6  6

## 重複行の抽出

In [26]:
df.loc[df.duplicated()]

Empty DataFrame
Columns: [A, B, C, D, E, F, G]
Index: []

## 重複行の削除

In [30]:
df.loc[3] = df.loc[2]
df

   A  B   C  D   E   F   G
0  a  1  10  2   2   2   2
1  b  3  11  4   6   6   6
2  a  5  12  6  10  10  10
3  a  5  12  6  10  10  10

In [31]:
df.drop_duplicates()

   A  B   C  D   E   F   G
0  a  1  10  2   2   2   2
1  b  3  11  4   6   6   6
2  a  5  12  6  10  10  10

## numpyへの変換

In [35]:
df.values

array([['a', 1, 10, 2, 2, 2, 2],
       ['b', 3, 11, 4, 6, 6, 6],
       ['a', 5, 12, 6, 10, 10, 10],
       ['a', 5, 12, 6, 10, 10, 10]], dtype=object)